.calendar {
  margin: 0 auto 0 auto;
}

.currentYear {
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: center;
  color: #000000;
  padding: 0;
  margin: 0 auto 50px;
}

/* controls  */

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0px 0 50px;
}

.controls .btn {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: #000000;
  padding: 13px 20px;
  margin: 0;
  cursor: pointer;
}

/* year  */

.year {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2.7%;
}

/* months */

.month {
  /* padding: 0 10px 0 10px;
  margin: 0 20px 0 20px; */
  box-sizing: border-box;
  flex-basis: 20.5%;
  min-height: 266px;
}

.singleCol .month {
  width: 100%;
}

.twoCol .month {
  width: 50%;
}

.monthName {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  text-align: left;
  color: #70757a;
  padding-left: 4.5%;
  margin: 15px auto 7px;
}

.month .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* days */

.day {
  width: 13%;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
  color: #3c4043;
  font-family: "Open Sans", sans-serif;
  margin-top: 0.3rem;
}

.dayOfTheWeek {
  color: #70757a;
}

.dayOfTheWeek,
.day {
  font-size: 13px;
}

#month-resizable-div {
  height: 100%;
  max-width: 256px;
  margin: auto;
}

.month-calendar {
  display: flex;
  flex-direction: column;
  flex: 1 1 100px;
  /* height: 85vh; */
  width: 80vw;
}

.month-calendar-header {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.month-calendar-header-cell {
  flex: 1;
  text-align: center;
  flex-shrink: 1;
  /* border: 1px solid #ddd; */
  border-bottom: none;
  font-size: 13px;
  border-left: none;
}

.gradient-wrapper{
  width: 15%;
  border-radius: 4px;
  text-align: center;
  background: linear-gradient(rgba(209, 77, 242, 0.9), rgba(223, 0, 0, 0.45));
  color: white;
  font-family: inter;
  font-weight: 500;
  margin: 8px;
  padding: 2px;
}

.month-calendar-row {
  display: flex;
  flex: 1 1 1px;
}

.month-calendar-cell {
  flex: 1;
  border: 1px solid #ddd;
  border-top: none;
  border-left: none;
  padding: 8px;
  text-align: center;
  border-left: none;
  flex: 1 1 100px;
  font-size: 12px;
  min-height: 93.167px;
}

.month-calendar-row:nth-child(even) .my-calendar-cell {
  background-color: #f2f2f2;
}

@media (max-width: 1920px) {
  #month-resizable-div {
    width: 256px;
  }
}

@media (max-width: 1366px) {
  #month-resizable-div {
    width: 213px;
  }
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.height-full {
  height: 100vh;
}

.width-full {
  width: 100vw;
}

.centered-text {
  text-align: center;
}

.fixed {
  display: fixed;
}

.media:hover > input {
  background-color: #f5f5f5;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.left-45 {
  left: 45%;
}

.width-100 {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.border-rounded {
  border-radius: 50%;
}

.w-100 {
  width: 100%;
}

.max-width-100vw {
  max-width: 100vw;
}

.max-height-100vh {
  max-height: 100vh;
}

.min-width-100vw {
  min-width: 100vw;
}

.min-height-100vh {
  min-height: 100vh;
}
