.calendar {
  margin: 0 auto 0 auto;
}

/* controls  */

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0px 0 50px;
}

.controls .btn {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: #000000;
  padding: 13px 20px;
  margin: 0;
  cursor: pointer;
}

/* year  */

.year {
  height: 768px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2.7%;
  /* padding-bottom: 60px; */
}

.month {
  box-sizing: border-box;
  flex-basis: 20.5%;
  min-height: 256px;
}

.singleCol .month {
  width: 100%;
}

.twoCol .month {
  width: 50%;
}

.monthName {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  text-align: left;
  color: #70757a;
  padding-left: 4.5%;
  margin: 15px auto 7px;
}

.month .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* days */

.day {
  width: 13%;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
  color: #3c4043;
  font-family: "Open Sans", sans-serif;
  /* margin-top: 0.3rem; */
}

.dayOfTheWeek {
  color: #70757a;
}

.dayOfTheWeek,
.day {
  font-size: 12px;
}

#month-resizable-div {
  height: 100%;
  max-width: 256px;
  margin: auto;
}

.month-calendar {
  display: flex;
  flex-direction: column;
  flex: 1 1 100px;
  /* height: 85vh; */
  width: 80vw;
}

.month-calendar-header {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.month-calendar-header-cell {
  flex: 1;
  min-width: 150px;
  text-align: center;
  flex-shrink: 1;
  border-bottom: none;
  font-size: 13px;
  border-left: none;
}

.gradient-wrapper {
  min-width: 20%;
  border-radius: 4px;
  text-align: center;
  background-color: #4285f4;
  color: white;
  font-family: inter;
  font-weight: 500;
  margin: 8px;
  padding: 2px;
}

.month-calendar-row {
  display: flex;
  flex: 1 1 1px;
}

.month-calendar-cell {
  flex: 1;
  border: 1px solid #ddd;
  border-top: none;
  border-left: none;
  padding: 8px;
  text-align: center;
  border-left: none;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 150px;
  font-size: 12px;
  padding-bottom: 10px;
  min-height: 80px;
}

.month-calendar-row:nth-child(even) .my-calendar-cell {
  background-color: #f2f2f2;
}

/* Navbar */

.arrow-logo-icon {
  width: 0.5rem;
  border-radius: 50%;
}

@media (max-width: 1920px) {
  #month-resizable-div {
    width: 256px;
  }
}

@media (max-width: 1366px) {
  #month-resizable-div {
    width: 213px;
  }
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.height-full {
  height: 100vh;
}

.width-full {
  width: 100vw;
}

.centered-text {
  text-align: center;
}

.p-fixed {
  position: fixed;
}

.media:hover > input {
  background-color: #f5f5f5;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.left-45 {
  left: 45%;
}

.width-100 {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.border-rounded {
  border-radius: 50%;
}

.w-100 {
  width: 100%;
}

.max-width-100vw {
  max-width: 100vw;
}

.max-height-100vh {
  max-height: 100vh;
}

.min-width-100vw {
  min-width: 100vw;
}

.min-height-100vh {
  min-height: 100vh;
}

#thumbnail-field {
  padding-left: 10px;
  padding-right: 10px;
}

#thumbnail-field:hover > input {
  background-color: #f5f5f5;
}

#channel-title-input {
  text-decoration: none;
  user-select: none;
  border: none;
  width: 70%;
  /* margin-top: 5px; */
  display: block;
}

#thumbnail-image-field:hover ~ input {
  background-color: #f5f5f5;
}

#channel-title-input:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.scroll-down {
  position: fixed;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #696969;
  border-right: 2px solid #696969;
  z-index: 9;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2.5s ease-in-out infinite;
  -moz-animation: fade_move_down 2.5s ease-in-out infinite;
  animation: fade_move_down 2.5s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

.txt-shine {
  background: #ff5a5a 120px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}
